
alert-html {
        border: solid 5px transparent !important;
        width: 100% !important;
        display: block  !important;
        text-align: center !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        z-index: 999999999 !important;
        position: fixed !important;
        top: 0 !important;
}

alert-html-item {
    border-radius: 5px;
    width: 80% !important;
    max-width: 80% !important;
    text-align: center !important;
    margin-left: 10% !important;
    display: block  !important;
    margin-right: 10%  !important;
    top: 0  !important;
    margin-top: 2px  !important;
    margin-bottom: 2px  !important;
    position: relative !important;
    min-height: 35px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    display: block;
    min-height: 50px !important;
}

alert-html-message {
    display: block !important;
    padding: 20px !important;
}

alert-html-close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 30px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}
alert-html-close:before,
alert-html-close:after {
    position: absolute;
    top: 60%!important;
    left: 65%!important;
    width: 5px;
    height: 20px;
    background-color: rgb(212, 209, 209);
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
}
alert-html-close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}

alert-html-confirm-yes {
    position: absolute;
    top: 10px;
    right: 110px;
    display: block;
    width: 100px;
    height: 25px;
    color: transparent;
    cursor: pointer;
}
alert-html-confirm-yes:before,
alert-html-confirm-yes:after{
    position: absolute;
    top: 60%!important;
    left: 0px!important;
    width: 5px;
    height: 15px;
    background-color: #d4d1d1;
    transform: rotate(130deg) translate(20%,0%) !important;
    transform-origin: top left;
    content: 'walter';
}

alert-html-confirm-yes:after {
    transform: rotate(220deg) translate(0%,-10%) !important;
}


alert-html-confirm-no > span,
alert-html-confirm-yes > span{
    height: auto !important;
    padding-top: 0px !important;
    font-size: 15px !important;
    color: white !important;
    font-weight: 400 !important;
}

alert-html-confirm-no {
    position: absolute;
    width: 100px;
    height: 25px;
    color: transparent;
    cursor: pointer;
    top: 10px;
    right: 0px;
}
alert-html-confirm-no:before,
alert-html-confirm-no:after {
    position: absolute;
    top: 40%!important;
    left: 0%!important;
    width: 5px;
    height: 20px;
    background-color: rgb(212, 209, 209);
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
}
alert-html-confirm-no:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}

alert-html-load> img{
    float: left;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.alert-html-success {
    color: white !important;
    background-image: linear-gradient(195deg, #6b4429  0%, #e29821  100%)!important;
    border-radius: 5px;
    left: 0;
    border: solid 2px #00ac4d !important;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
}

.alert-html-danger {
    color: white !important;
    background-image: linear-gradient(195deg, #6b4429  0%, #e29821  100%)!important;
    border-radius: 5px;
    left: 0;
    border: solid 2px red !important;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
}

.alert-html-warning {
    color: white !important;
    background-image: linear-gradient(195deg, #6b4429  0%, #e29821  100%)!important;
    border-radius: 5px;
    left: 0;
    border: solid 2px rgb(255, 161, 38) !important;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
}



@media (max-width: 1000px)
{
    alert-html-message {
        display: block !important;
        padding: 20px !important;
        padding-top: 30px !important;
    }

    alert-html-confirm-no{
        right: 0px  !important;
        left: auto  !important;
        }

    alert-html-confirm-yes {
        left: 30px  !important;
        right: 0px  !important;
    }
}
